# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    paths-ignore:
      - "README.md"

jobs:
  test:
    services:
      redis:
        image: redis:alpine
        ports: ["6379:6379"]
        options: --entrypoint redis-server

    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: ["7.0", "7.1.0", "7.2.2", "8.0.1", "8.1.0"]
        ruby_version: ["3.1", "3.2", "3.3", "3.4"]
        exclude:
          - ruby_version: "3.1"
            rails_version: "8.1.0"
          - ruby_version: "3.1"
            rails_version: "8.0.1"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
        env:
          RAILS_VERSION: "${{ matrix.rails_version }}"
      - name: Install Graphviz
        run: sudo apt-get install graphviz
      - name: Run code lint
        run: bundle exec rubocop
        env:
          RAILS_VERSION: "${{ matrix.rails_version }}"
      - name: Run tests
        run: bundle exec rspec
        env:
          REDIS_URL: redis://localhost:6379/1
          RAILS_VERSION: "${{ matrix.rails_version }}"
